<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.diff.map.Mapper.RegMapper">

	<insert id="UserReg" parameterType="HashMap">
		insert into user_info
			(_user_android_id, _user_ios_id)
		values
			(#{android_id}, #{ios_id})
	</insert>
	
	
	<insert id="UserChannelDefaultReg" parameterType="HashMap">
		insert into user_channel_info (_user_id, _user_channel_id)
		select #{user_id} user_id, _channel_id
		  from channel_info
		 order by cast(_channel_youtube_subscribe_count as integer) desc
		 limit 3
	</insert>
</mapper>